<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo-redesign.png" alt="logo" width="178" height="32">
            </a>
            <p class="cs-text">
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/general-dentistry">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/reviews">Reviews</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Categories</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/dental-implants">Dental Implants</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/gum-surgery">Gum Surgery</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/general-dentistry">General Dentistry</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/pediatric-dentistry">Pediatric Dentistry</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel: 123-456-7890">846-7634</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/email.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href="mailto:info@thehappysmiledentalclinic.com">info@thehappysmiledentalclinic.com</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/location.svg" alt="pin" width="24" height="24">
                <a class="cs-nav-link cs-address" href="/contact" target="_blank" rel="noopener">
                    123 Turdor Street<br> St James, Barbados
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright" style="color: black;">© Copyright 2025 - <a class="cs-copyright-link" href="" style="color: black;">Happy Smile Dental Clinic</a></span>
    </div>
</footer>
                                